body {
    background-color: darkred;
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, sans-serif;
}
header {
    background-color: white;
    width:100%;
    height: 65px;
    padding-top:25px;
    box-shadow:0px 8px 6px -6px black;
    position:fixed;
    z-index:1;
}
input {
    position:absolute;
    width:45%;
    left:40%;
    margin-top:10px;
    font-size:25px;
    border: none;
    border-radius:10px;
    box-shadow: 2px 2px lightgrey;
    outline:none;
}
button {
    color:white;
    border: solid 2px white;
    background-color:transparent;
    outline:none;
    font-size:30px;
    margin-top:10px;
    box-shadow: 2px 2px black;
}
button:hover {
    background-color:lightskyblue;
}
footer {
    width:100%;
    height: 90px;
    padding-top:30px;
    background-color:black;
    box-shadow: 0 50vh 0 50vh black;
}
#product {
    position:absolute;
    left:40%;
    margin-top:10px;
    font-size:25px;
    border: none;
    box-shadow: 2px 2px lightgrey;
    outline:none;
}
#saveButton {
    margin-right:50px;
}
.pageTitle {
    margin-top: -5px;
    font-size:30px;
}
.container {
    text-align:center;
}
.gridContainer {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 50px 50px 250px 50px 50px 60px;
    grid-template-areas:
        "customerNameArea1 customerNameArea2"
        "customerEmailArea1 customerEmailArea2"
        "productsListArea1 productsListArea2"
        "priceArea1 priceArea2"
        "orderArea1 orderArea2"
        "buttonArea buttonArea";
    margin: 0px 10px 0px 10px;
    padding-top:90px;
}
.itemLabel {
    margin-top:10px;
}
.itemImage {
    position:absolute;
    margin-top:50px;
    left: 40%;
    width: 240px;
    height: 185px;
    box-shadow: 3px 3px 3px lightgray;
}
.customerNameArea1 {
    background-color: lightcyan;
    grid-area: customerNameArea1;
}
.customerNameArea2 {
    background-color: lightcyan;
    grid-area: customerNameArea2;
}
.customerEmailArea1 {
    background-color: lightgoldenrodyellow;
    grid-area: customerEmailArea1;
}
.customerEmailArea2 {
    background-color: lightgoldenrodyellow;
    grid-area: customerEmailArea2;
}
.productListArea1 {
    background-color: floralwhite;
    grid-area: productsListArea1;
}
.productListArea2 {
    background-color: floralwhite;
    grid-area: productsListArea2;
}
.priceArea1 {
    background-color: lightgreen;
    grid-area: priceArea1;
}
.priceArea2 {
    background-color: lightgreen;
    grid-area: priceArea2;
}
.orderArea1 {
    background-color: lightskyblue;
    grid-area: orderArea1;
}
.orderArea2 {
    background-color: lightskyblue;
    grid-area: orderArea2;
}
.buttonArea {
    background-color: lightseagreen;;
    grid-area: buttonArea;
}
.footerArea {
    color:white;
    font-size:20px;
}
.basePositionFooterInfo {
    margin-top:-20px;
    margin-bottom:-20px;
    margin-right:100px;
}
.footerInfo {
    margin-bottom:-20px;
    margin-right:100px;
}
.picture {
    position:absolute;
    margin-left:85px;
    margin-top:-50px;
    width:50px;
    height:80px;
}