.project-back-button {
    color:black;
    border: solid 2px black;
}
.project-back-button:hover {
    background-color:lightgray;
}
#project-table {
    width:100%;
    text-align:left;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    font-size:20px;
}
td {
    height: 50px;
}
.table-left {
    background-color:lightslategrey;
    font-weight:bold;
    color:white;
    padding:0 20px 0 20px;
}
.table-right {
    background-color:lightgrey;
    padding:0 20px 0 20px;
}
.download-button {
    background-color:blue;
    border:none;
    margin:0px 0px 20px 0px;
    padding: 10px 30px 10px 30px;
}
.download-button:hover {
    background-color: skyblue;
}
.project-clip {
    margin:20px 0px 20px 0px;
    width:200px;
    height:auto;
}
.project-detail-summary li {
    padding:10px 0px 10px 0px;
}