body {
    background-color: darkred;
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, sans-serif;
}
header {
    background-color: white;
    width:100%;
    height: 65px;
    padding-top:25px;
    box-shadow:0px 8px 6px -6px black;
    position:fixed;
    z-index:1;
}
footer {
    width:100%;
    height: 90px;
    padding-top:30px;
    background-color:black;
    box-shadow: 0 50vh 0 50vh black;
}
#thankYouMessage {
    background-color:white;
}
.pageTitle {
    margin-top: -5px;
    font-size:30px;
}
.container {
    text-align:center;
}
.gridContainer {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        "thankYouArea thankYouArea"
        "summaryArea . "
        "customerNameArea1 customerNameArea2"
        "customerEmailArea1 customerEmailArea2"
        "productArea1 productArea2"
        "orderArea1 orderArea2"
        "priceArea1 priceArea2"
        "totalArea1 totalArea2";
    margin: 0px 10px 0px 10px;
    padding-top:90px;
    word-break: break-word;
}
.thankYouArea {
    font-size:50px;
    padding-top:70px;
    padding-bottom:80px;
    background-color: white;
    grid-area: thankYouArea;
    background-image:url(../images/thankYou.png);
    background-size:100% 100%;
    background-repeat:norepeat;
}
.summaryArea {
    background-color: lightgrey;
    grid-area:summaryArea;
}
/*
background-color and border are repeatedly used
because not all areas have both.
Besides, all area has grid-ares,
so it looks redundant but coded it this way.
*/
.customerNameArea1 {
    background-color: white;
    border:solid 1px black;
    grid-area: customerNameArea1;
}
.customerNameArea2 {
    background-color: white;
    border:solid 1px black;
    grid-area: customerNameArea2;
}
.customerEmailArea1 {
    background-color: white;
    grid-area: customerEmailArea1;
    border:solid 1px black;
}
.customerEmailArea2 {
    background-color: white;
    grid-area: customerEmailArea2;
    border:solid 1px black;
}
.productArea1 {
    background-color: white;
    border:solid 1px black;
    grid-area: productArea1;
}.productArea2 {
    background-color: white;
    border:solid 1px black;
    grid-area: productArea2;
}
.orderArea1 {
    background-color: white;
    border:solid 1px black;
    grid-area: orderArea1;
}
.orderArea2 {
    background-color: white;
    border:solid 1px black;
    grid-area: orderArea2;
}
.priceArea1 {
    background-color: white;
    grid-area: priceArea1;
    border:solid 1px black;
}
.priceArea2 {
    background-color: white;
    border:solid 1px black;
    grid-area: priceArea2;
}
.totalArea1 {
    background-color: white;
    border:solid 1px black;
    grid-area: totalArea1;
}
.totalArea2 {
    background-color: white;
    border:solid 1px black;
    grid-area: totalArea2;
}
.footerArea {
    color:white;
    font-size:20px;
}
.basePositionFooterInfo {
    margin-top:-15px;
    margin-bottom:-20px;
    margin-right:100px;
}
.footerInfo {
    margin-bottom:-20px;
    margin-right:100px;
}
.picture {
    position:absolute;
    margin-left:85px;
    margin-top:-50px;
    width:50px;
    height:80px;
}
.summaryLabel {
    color:white;
    font-size:20px
}
.resultItemLabel {
    margin-top:0px;
    margin-bottom:0px;
    font-size:20px;
}
/* The result class will be appended after the quotePage.html is loaded */
.result {
    font-size:20px;
    float:left;
    padding-left:20px;
}